backend:
  name: github
  repo: inlove8307/blog

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "posts"
    label: "Posts"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - label: "Type"
        name: "type"
        widget: "select"
        options: ["index", "timeline", "blog"]
      - {label: "Excerpt", name: "excerpt", widget: "string", required: false}
      - {label: "Cover", name: "cover", widget: "image", required: false}
      - {label: "Tags", name: "tags", widget: "list", required: false}
      - {label: "Publish Date", name: "date", widget: "date"}
      - {label: "Body", name: "body", widget: "markdown"}